*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    margin: auto;
}

nav{
    padding:15px 200px 15px 0px;
    margin: 15px;
    background-color: black;
}
span{
    margin: 0px 10pX 0PX 10PX;
    padding: 0px 20px 0px 20px;
    color: white;
    

}
#log{
font-weight: bold;
margin: 0px 10px 0px 10px;

}
.center{
margin: 0px 280px 0px 280px;
}
#btn{

    height:30px;
    width: 90px;
    border-radius: 35%;
    background-color: lightseagreen;
    color: white;
    margin: 0px 45px 0px 30px;

}
h1{
    text-align: center;
}
p{
    text-align: center;
}
.container1{
    height: 250px;
    width: 250px;
    border: 2px solid green;
    background-color: rgba(55, 67, 23,0.5);
}
.container2{
    height: 250px;
    width: 250px;
    border: 2px solid green;
    background-color: rgba(152, 245, 249,0.5);
}
.container3{
    height: 250px;
    width: 250px;
    border: 2px solid green;
    background-color: rgba(255, 222, 89,0.5);
}
footer {
    text-align: center;
    padding: 3px;
    background-color: grey;
    color: white;
  }

